body{
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

h1{
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

h2{
    border-bottom: 2px #333333;
    margin-top: 30px;
}

p{
    padding: 0 45px;
    text-indent: 15px;
}

#centro-distribuicao{
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#familia-pelho{
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
    float: right;
    margin: 0 0 10px 10px;
}

figcaption{
    font-style: italic;
    margin-top: 10px;
}

#rodape{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}